<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Beneficiarios</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" routerLink="novo">Novo beneficiario</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button> -->
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" >
      <!-- *ngIf="(beneficiarios$ | async) as beneficiarios; else loading" -->
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Orgao</th>
          <th>Matricula</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beneficiario of beneficiarios">
          <td>{{ beneficiario.nome }}</td>
          <td>{{ beneficiario.cpf }}</td>
          <td>{{ beneficiario.orgao }}</td>
          <td>{{ beneficiario.matricula }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" routerLink="upload">
                Upload
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(beneficiario)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Beneficiarios...</span>
    </ng-template>

    <!--ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
        Erro ao carregar Beneficiarios. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
          <span>Carregando Beneficiarios...</span>
      </ng-template>
    </ng-template -->
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse beneficiario?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
  </div>
</ng-template>
