<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Projeto COTEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/beneficiario" routerLinkActive="active">Beneficiario</a>
      <a class="nav-link" routerLink="/processo" routerLinkActive="active">Processo</a>
      <a class="nav-link" routerLink="/upload" routerLinkActive="active">Upload</a>
      <a class="nav-link" routerLink="/movimentacao" routerLinkActive="active">Movimentacao</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
